.footer {
    background-color: #343434;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 1rem 0;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
  }
  .text{
    color:white;
  }
  